body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#roll {background-image:url(images/man_1.jpg); color:#000000}
#out {background-image:url(images/men_2.jpg)}
#gazenwagen a { font-family:tahoma; font-size:12px; color:#0E0E0E; text-decoration:none}
#gazenwagen a:hover { font-weight:bold}
.style1 {
	color: #FFFFFF;
	font-size: 11px;
	font-family: tahoma;
}
.style2 {
	color: #0e0e0e;
	font-size: 11px;
	font-family: tahoma;
}
.style3 {
	color: #33B8FF;
	font-size: 11px;
	font-family: tahoma;
}
.style4 {
	color: #6F706C;
	font-size: 10px;
	font-family: tahoma;
}
.style5 {
	color: #c7c7c7;
	font-size: 10px;
	font-family: tahoma;
	font-weight: bold;
}
.style6 {
	color: #404040;
	font: bold 14px tahoma;
}
.style7 {
	color: #727272;
	font-size: 11px;
	font-family: tahoma;
}
.style8 {
	color: #000000;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.style9 {
	color: #808080;
	font-size: 11px;
	font-family: tahoma;
}
.style10 {
	color: #90BB0A;
	font-size: 11px;
	font-family: tahoma;
}p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
ul {
	font-family: Arial, Helvetica, sans-serif;
	color: #333300;
	font-size: 12px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #666600;
}
